streamlit
langchain
langchain-community
langchain-core
langchain-huggingface
langchain-google-genai
langchain-text-splitters
langchain-experimental
chromadb
sentence-transformers
google-generativeai
python-dotenv
datasets
ragas
torch
requests
gitpython
numpy
pandas
pydantic
typing-extensions
